{
    "debug": true,
    "logs": "stdout",

    "ad-msg": "参与周末特惠活动：韩装4件80元抢",

    "http": {
        "enabled": true,
        "listen":   "localhost:6061"
    },
    
    "amqp": {
        "addr": "amqp://guest:guest@localhost:5672/",
        "addr1": "amqp://admin:meiyoumima@115.29.175.25:5672/",
        "addr2": "amqp://admin:meiyoumima@203.195.169.206:5672/",
        "maxIdle": 2
    },

    "worker": {
        "wechat": 2
    },

    "db": {
        "dsn": "root:dongdong@tcp(127.0.0.1:3306)/wechat2?loc=Local&parseTime=true",
        "maxIdle": 4
    },

    "redis": {
        "addr": "localhost:6379",
        "maxIdle": 2,
        "password": "",
        "db": 5
    },

    "haoduan": {
        "chinaMobile":  "134|135|136|137|138|139|147|150|151|152|157|158|159|178|182|183|184|187|188",
        "chinaUnicom":  "130|131|132|145|155|156|175|176|185|186",
        "chinaTelecom": "133|153|177|180|181|189",
        "chinaOther":   "170"
    },

    "wechats": [{
            "WxId": "gh_8xxxx",
            "AppId": "wxaccxxxx",
            "Token": "xxx",
            "Aeskey": "xxxxx",

            "AutoAnswer": true, 
            "Welcome": "欢迎来到云喇叭，网购炫货求点赞，上传宝贝试一试！（努力开发中...）"
        }
    ],

    "admins": [{
        "openid": "oyZW-w6uuFwN3l-XGVLq9XZHndDs",
        "nickname": "wangdong"
    }],


    "open": {
        "addr": "http://open.shenbianvip.com/api/wx/v1/report",
        "appid": "",
        "apptoken": "",
        "note": "云喇叭开放平台对接测试"
    },

    "location" : {
        "addr": "http://open.shenbianvip.com:9081/YLBOpenService/api/public/getCourierInfo",
        "appid": "",
        "apptoken": ""

    },

    "weixinpay": {
        "addr": "", 
        "ip": "121.43.102.49",
        "key": "3iKweiKK213kdkdi765iIYTKkdi26rxX"
    }

}
